body {
  font-family: 'Oxygen', sans-serif;
  color:#6f6f6e;
  line-height:25px;
  font-size:15px;
}

a {
  color: #ee3e00;
}

a:hover {
  color: #802100;
}

.text-break {
  display: block;
}


.brownbackground{
  background: #f6f5ea;
}
.whitebackground{
  background: #ffffff;
}
.orangetext{
  color:#ee3e00;
  font-weight: bold;
}
.bluetext{
  color:#68d6de;
  font-weight: bold;
}
.darkerbluetext{
  color:#4896ae;
  font-weight: bold;
}
.boldtext{
  font-weight: bold;
}


#logo{
  float:left;
  margin-top: 38px;
  margin-bottom: 40px;
  width: 237px;
  height: 42px;
  background: url('../images/rebittance-logo.png') no-repeat;
  text-indent: -9999px;
}


#intro {
  position: relative;
}
#intro .img-wrapper {
  margin-right: -40px;
  margin-left: -40px;
}

#getinvolvedlogo{
  float:right;
  padding-top: 50px;
  padding-right: 30px;
}
#headtext{
  margin-left: auto;
  margin-right: auto;
}
#headtext h1{
  padding-bottom:20px;
  font-weight: bold;
  color:#585857;
}


#headbanner{
  position: absolute;
  bottom: 80px;
  width: 100%;
  z-index: 1;
  font-size:18px;
}





/* rebittance providers */




#trythese{
  padding-top:80px;
  padding-bottom:80px;
}

#trythese .title {
  margin-top: 0;
}

.provider-list {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 40px;
}

.provider-list li {
  width: 50%;
  float: left;
  font-size: 12px;
  line-height: 24px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.provider-list li a {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.provider-list li a:hover {
  color: #333;
  text-decoration: none;
}


.provider-list li img {
  /*border: 1px solid #ddd;*/
  border: 1px solid rgba(0,0,0,0.1);
  width: 100%;
}

.provider-list li a:hover img {
  border: 1px solid rgba(0,0,0,0.15);
}

.provider-list span {
  display: block;
  margin-top: 4px;
}








/* rebittance process */
#rebittanceprocess{
  border-top: 1px solid rgba(0,0,0,0.15);
  padding-top:60px;
}

#rebittanceprocesstext{
  padding-bottom: 60px;
}

.rebittanceprocessimage h3{
  margin-top: -150px;
  padding-bottom:140px;
}

.rebittanceprocessimage img{
  padding-bottom:60px;
}

.rebittanceprocessimage{
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

#traditionalbank h3{
  padding-top: 50px;
  padding-bottom: 30px;
}

#traditionalbank img{
  padding-bottom:70px;
}







#howitworks{
  text-align:center;
  padding-top: 60px;
  padding-bottom: 90px;
}
#howitworkstext, #howitworkssupplementtext {
  padding-top:20px;
  padding-bottom:60px;
  margin-left:auto;
  margin-right:auto;
  float: none;
}
.howstepnum{
  margin-left:auto;
  margin-right:auto;
  margin-bottom:-30px;
  width:50px;
  height:50px;
}
.howstep{
  border: 1px solid #ee3e00;
  box-sizing: border-box;
  border-radius: 4px 4px 4px 4px;
  height:380px;
}
.howstep img{
  padding-top: 30px;
  margin-left:auto;
  margin-right:auto;
  width:65%;
  height:65%;
  padding-top:40px;
  padding-bottom:10px;
}
.howsteptext{
  font-size:15px;
  line-height:20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}
#whycheaper{
  padding-top:60px;
}
#whycheaper h3{
  text-align:center;
  padding-bottom:20px;
}
.whycheaperimage{
  width:400px;
  height:auto;
}
#whycheapertext
{
  padding-top:30px;
}
#getinvolved{
  margin-left:auto;
  margin-right:auto;
  padding-top: 60px;
  padding-bottom:70px;
}
#getinvolvedbody{
  width:800px;
  margin-left:auto;
  margin-right:auto;
}
#getinvolved h3, #faq h3{
  text-align:center;
  padding-top:10px;
  padding-bottom:30px;

}
#faq h3 {
  padding-top:50px;
}
dl dt h4 {
  padding-top:20px;
  line-height:1.5;
}
dl dd p {
  line-height:1.5;
  margin-bottom:15px;
}
.involvedstep{
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px 4px 4px 4px;
  height: 430px;
}
.involvedstepicon{
  margin-left:auto;
  margin-right:auto;
  display: block;
  width:50px;
  height:50px;
  margin-bottom:-20px;
}
.involvedstepheader{
  font-weight:bold;
  padding-top: 50px;
  padding-bottom: 20px;
  display: block;
  padding-left: 45px;
  width:95%;
}
.involvedsteptext {
  font-size:13px;
  display: block;
  padding-left:15px;
  width: 85%;
}
#familyfriends{
  padding-top:60px;
  padding-bottom:100px;
}
#familyfriends h3{
  text-align:center;
  padding-bottom: 60px;
}
#socialmediaicons{
  width:100%;
  text-align: center;
}
.socialmedia{
  display:inline-block;
  padding-right:10px;
  padding-left:10px;
  margin-bottom: 20px;
}
.socialmedia img{
  width:60px;
}
.socialmedia a:hover img{
    opacity:0.5;
}
#furtherreading{
  padding-top:60px;
  padding-bottom:60px;
}
#furtherreading h3{
  text-align:center;
  padding-bottom:40px;
}
#furthereadingimage{
  width:135px;
  display: block;
  margin: auto;
}
.furtherreadingcontent{
  padding: 0;
  margin: auto;
  font-size:12px;
  list-style:none;
  border-bottom: 1px dashed #c5c5c5;
  float: none;
}
.furtherreadingcontent li{
  border-top: 1px dashed #c5c5c5;
  list-style:none;
}
.furtherreadingcontent .boldtext{
    color:#333;
}
.disclosure, .contributors {
  padding-top:50px;
  font-size:11px;
}
/*
@media screen and (min-width: 1025px){
  .howstepimage{
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 330px){
  #logo img{
    width:100px;
  }
}

*/
@media (max-width: 768px) {
  #top .container{

  }
  #headbanner {
    position: static;
  }
  #logo{
    margin-bottom:0;
    margin-right: auto;
    margin-left: auto;
    display: block;
    float: none;
  }
  #getinvolvedlogo{
    width:100%;
    padding: 20px;
  }
  #socialmediaicons{
    text-align: center;
  }
  .howstep,
  .involvedstep {
    height: auto;
  }
  #getinvolvedbody {
    width: auto;
  }
  #getinvolvedbody > div { margin-bottom: 20px }
  .text-break {
    display: inline;
  }
  #intro .img-wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .howstep {
    margin-bottom: 20px;
  }
  .provider-list li{
    width:40%;
  }
  #trythese .col-sm-12{
    width:100%;
  }
  
  .rebittanceprocessimage h3{
    margin-top: -50px;
  }

}
@media (min-width: 768px) and (max-width: 992px) {
  .howstep,
  .involvedstep {
    height: auto;
  }
  #howitworkssteps .col-md-4{
    width:30%;
    display:inline-block;
    vertical-align:top;
  }
  .howstep {
    margin-bottom: 20px;
    height:300px;
  }
  .text-break {
    display: inline;
  }
  #headbanner {
    bottom: 20px;
  }
  .provider-list li{
    width:50%;
  }
  #trythese .col-sm-12{
    width:50%;
    margin:auto;
  }
  #whycheaper .col-md-6{
    width:45%;
    display:inline-block;
  }
  .involvedstep{
     width:80%;
     height:500px;
  }
  .involvedstepicon{
    text-align:center;
    margin-left:125px;
  }
  #getinvolvedbody .col-sm-12{
    width:50%;
  }
  
  .rebittanceprocessimage h3{
    margin-top: -110px;
  }
  
}
@media (min-width: 992px) and (max-width: 1200px) {
  .howstep {
    height: 350px;
  }
}